In [21]:
arquivo = open('arquivo.txt','r')

In [22]:
#lendo o arquivo
print(arquivo.read())

oiii pessoal da manipulação de arquivos

In [9]:
#contando o número de caracteres do arquivo
print(arquivo.tell())

40

In [10]:
#retornar para o inicio do arquivo 
print(arquivo.seek(0,0))

0

In [11]:
#lendo os primeiros 23 caracteres(pode ser o numero que for necessario)
print(arquivo.read(23))

oiii pessoal da manipul

In [29]:
#Gravando em um arquivo txt(read não funciuona em write)
#nesse modo vc subscreve o arquivo
arquivo2 = open('arquivo2.txt','w')
arquivo2.write('sgayusgd')

8

In [38]:
#Acrescentando conteudo
arquivo2 = open('arquivo2.txt','a')# a de append

In [39]:
arquivo2.write('  ablublueeee')

13

In [40]:
arquivo2.close()

In [41]:
arquivo4 = open('arquivo2.txt','r')
print(arquivo4.read())

sgayusgdablublueeee  ablublueeee

In [57]:
%%writefile arquivo.txt
ola mundo
eu finalmente consegui fazer essa funcionalidade funcionar 
obrigado pela minha baixa capacidade cognitiva

Overwriting arquivo.txt

In [58]:
arquivoo = open('arquivo.txt','r')
print(arquivoo.read())

ola mundo
eu finalmente consegui fazer essa funcionalidade funcionar
obrigado pela minha baixa capacidade cognitiva

In [59]:
arquivoo.seek(0)

0

In [60]:
arquivoo.seek(0)
arquivoo.readlines()

['ola mundo\n',
 'eu finalmente consegui fazer essa funcionalidade funcionar \n',
 'obrigado pela minha baixa capacidade cognitiva\n',
 '\n',
 '\n',
 '\n']

In [61]:
for line in open('arquivo.txt'):
    print(line)

ola mundo

eu finalmente consegui fazer essa funcionalidade funcionar

obrigado pela minha baixa capacidade cognitiva

In [13]:
import pandas as pd 
pd.__version__
arquivo = open('dadostab.csv')

In [14]:
df = pd.read_csv(arquivo)
df.head()

      nome     idade  profissão   salario
0  roberto   37 anos        vet       5.0
1     joao   40 anos   bancario       8.0